/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
  background: rgb(35, 25, 85);
  background: linear-gradient(
    180deg,
    rgba(35, 25, 85, 1) 0%,
    rgba(31, 70, 144, 1) 100%
  );
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1.5rem;
}
