/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  background-color: #222831;
  color: #00adb5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-form,
.board-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}
