/*COLOR PALETTE */

/*  #7C3E66 
    #F2EBE9
    #A5BECC
    #243A73
*/

/*APPLIED TO THE WHOLE PAGE*/

* {
	font-family: 'Ubuntu', sans-serif;
	margin: auto;
	scroll-behavior: smooth;
}

body::-webkit-scrollbar {
	display: none;
}

a {
	color: inherit;
	text-decoration: none;
}

/*IDS OF THE PAGE*/

#navbar {
	display: flex;
	justify-content: space-around;
	background-color: #7c3e66;
	color: #f2ebe9;
	font-size: 25px;
	padding: 15px;
	position: sticky;
	top: 0;
	left: 0;
}

#home {
	text-align: center;
	display: flex;
	flex-direction: column;
	height: 85vh;
	background-color: #7c3e66;
	color: #f2ebe9;
}

#about {
	height: 130vh;
	background-color: #f2ebe9;
}

#projects {
	height: 100vh;
	background-color: #7c3e66;
	color: #f2ebe9;
}

#contact {
	height: 80vh;
	background-color: #f2ebe9;
}

#footer {
	height: 7vh;
	background-color: #7c3e66;
	display: flex;
	color: #f2ebe9;
}

/*APPLIED TO CLASSES*/
