/*COLOR PALETTE */

/*  #112B3C 
    #205375
    #F66B0E
    #EFEFEF
*/

/*APPLIED TO THE WHOLE PAGE*/

* {
	font-family: 'Ubuntu', sans-serif;
	scroll-behavior: smooth;
	margin: auto;
	padding: 0;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	text-align: center;
}

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body::-webkit-scrollbar {
	display: none;
}

a {
	color: inherit;
	text-decoration: none;
}

img:hover {
	top: -7px;
}

p {
	font-size: 20px;
	font-weight: 600;
}

p span {
	color: #f66b0e;
	font-weight: 900;
}

/*IDS OF THE PAGE*/

#navbar {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 55px;
	height: 175px;
	overflow: hidden;
	background-color: #112b3c;
	color: #efefef;
	position: fixed;
	border-radius: 0 15px 15px 0;
	top: 35rem;
	box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.2);
	z-index: 3;
}

#home {
	text-align: center;
	display: flex;
	flex-direction: column;
	height: 70vh;
	/* background-image: url('public/background.svg'); */
	background-color: #112b3c;
	background-image: url("data:image/svg+xml,%3Csvg width='40' height='1' viewBox='0 0 40 1' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h20v1H0z' fill='%23f66b0e' fill-opacity='0.31' fill-rule='evenodd'/%3E%3C/svg%3E");
	color: #efefef;
}

#about {
	height: 140vh;
	background-color: #efefef;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	justify-content: center;
	padding-top: 3rem;
}

#projects {
	height: 70vh;
	background-color: #112b3c;
	color: #efefef;
}

#contact {
	height: 80vh;
	background-color: #efefef;
}

#footer {
	height: 7vh;
	background-color: #112b3c;
	display: flex;
	color: #efefef;
}

#paper {
	position: relative;
	width: 85%;
	top: -40px;
	box-shadow: 5px 0 5px 2px rgba(0, 0, 0, 0.2),
		-5px 0 5px 2px rgba(0, 0, 0, 0.2);
}

/*APPLIED TO CLASSES*/

.foto-developer {
	height: 30rem;
	width: 30rem;
}

.foto-david {
	border: 2px solid #efefef;
	transition: top ease-in-out 0.3s;
	border-radius: 50%;
	position: relative;
	object-fit: cover;
	height: 18rem;
	width: 18rem;
	top: 0;
}

.description {
	width: 60%;
}

.user,
.laptop,
.mail {
	fill: #efefef;
}

.user:hover,
.laptop:hover,
.mail:hover {
	fill: #f66b0e;
	transform: scale(1.1);
	transition: linear 0.1s;
}

.github-icon,
.linkedin-icon {
	fill: #efefef;
}

.github-icon:hover,
.linkedin-icon:hover {
	fill: #f66b0e;
	transform: scale(1.1);
	transition: linear 0.1s;
}

.home-info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

/*MEDIA QUERIES*/

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
	#navbar {
		display: flex;
		flex-direction: column;
	}

	#home {
		height: 70vh;
		border: 2px solid red;
	}

	img {
		width: 15rem;
		height: 15rem;
		border: 2px solid red;
	}
}

/* From uiverse.io by @Voxybuns */

button {
	--button_radius: 0.75em;
	--button_color: #e8e8e8;
	--button_outline_color: #112b3c;
	font-size: 17px;
	font-weight: bold;
	border: none;
	border-radius: var(--button_radius);
	background: var(--button_outline_color);
	cursor: pointer;
	margin-bottom: 3rem;
}

.button_top {
	display: block;
	box-sizing: border-box;
	border: 2px solid var(--button_outline_color);
	border-radius: var(--button_radius);
	padding: 0.75em 1.5em;
	background: var(--button_color);
	color: var(--button_outline_color);
	transform: translateY(-0.2em);
	transition: transform 0.1s ease;
}

button:hover .button_top {
	transform: translateY(-0.33em);
	background: #f66b0e;
	color: white;
}

button:active .button_top {
	transform: translateY(0);
}
