/*COLOR PALETTE */

/*  #112B3C 
    #205375
    #F66B0E
    #EFEFEF
*/

/*APPLIED TO THE WHOLE PAGE*/

* {
	scroll-behavior: smooth;
	margin: auto;
	padding: 0;
}

body:not([class='fa']) {
	font-family: 'Ubuntu', sans-serif;
}

*,
*:before,
*:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body::-webkit-scrollbar {
	display: none;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	width: 300px;
	height: 300px;
	border-radius: 50%;
	object-fit: cover;
}

/*IDS OF THE PAGE*/

#navbar {
	display: grid;
	background-color: #112b3c;
	color: #efefef;
	padding: 15px;
}

#home {
	text-align: center;
	display: flex;
	flex-direction: column;
	height: 85vh;
	background-color: #112b3c;
	color: #efefef;
}

#about {
	height: 100vh;
	background-color: #efefef;
}

#projects {
	height: 100vh;
	background-color: #112b3c;
	color: #efefef;
}

#contact {
	height: 80vh;
	background-color: #efefef;
}

#footer {
	height: 7vh;
	background-color: #112b3c;
	display: flex;
	color: #efefef;
}

/*APPLIED TO CLASSES*/

.user,
.laptop,
.mail {
	fill: #efefef;
}

.user:hover,
.laptop:hover,
.mail:hover {
	fill: #f66b0e;
	transform: scale(1.1);
	transition: linear 0.1s;
}

.github-icon,
.linkedin-icon {
	fill: #efefef;
}

.github-icon:hover,
.linkedin-icon:hover {
	fill: #f66b0e;
	transform: scale(1.1);
	transition: linear 0.1s;
}

.home-info {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

/*MEDIA QUERIES*/

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
	#navbar {
		display: flex;
		flex-direction: column;
	}

	#home {
		height: 70vh;
	}
}

/* From uiverse.io by @Voxybuns */

button {
	--button_radius: 0.75em;
	--button_color: #e8e8e8;
	--button_outline_color: #000000;
	font-size: 17px;
	font-weight: bold;
	border: none;
	border-radius: var(--button_radius);
	background: var(--button_outline_color);
}

.button_top {
	display: block;
	box-sizing: border-box;
	border: 2px solid var(--button_outline_color);
	border-radius: var(--button_radius);
	padding: 0.75em 1.5em;
	background: var(--button_color);
	color: var(--button_outline_color);
	transform: translateY(-0.2em);
	transition: transform 0.1s ease;
}

button:hover .button_top {
	transform: translateY(-0.33em);
	background: #f66b0e;
	color: white;
}

button:active .button_top {
	transform: translateY(0);
}
