<div class="tasks-container">
  <h1>What's the plan for today?</h1>
  <form class="task-form" [formGroup]="taskForm">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Task</mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>
    <button mat-fab class="add-btn" type="submit" (click)="addTask()">
      <mat-icon>add</mat-icon>
    </button>
  </form>

  <mat-progress-spinner *ngIf="loading" class="spinner" [mode]="mode">
  </mat-progress-spinner>

  <div class="tasks-list" *ngFor="let task of tasks">
    <div class="card">
      <h3 class="task">
        <mat-checkbox
          (change)="completeTask(task.id)"
          [(ngModel)]="task.isCompleted"
          >{{ task.name }}</mat-checkbox
        >
        <button mat-icon-button class="delete" (click)="deleteTask(task.id)">
          <mat-icon color="warn">delete</mat-icon>
        </button>
      </h3>
    </div>
  </div>
</div>
