.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.mat-signIn {
  background-color: #00adb5;
}

h1 {
  font-size: 4rem;
  font-weight: 500;
}

h3 {
  color: #eeeeee;
}
