.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 20rem;
  margin-top: 10rem;
  background-color: #222831;
  background-image: none;
  padding: 3rem;
  border-radius: 2rem;
  transition: 0.1s ease;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.home-container:hover {
  transform: scale(1.025);
}

.mat-signIn {
  background-color: #00adb5;
}

h1 {
  font-size: 4rem;
  font-weight: 500;
}

h3 {
  color: #eeeeee;
}
