.mat-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100% !important;
  display: flex;
  justify-content: space-around;
}
.example-card {
  min-width: 15rem;
  margin: 1rem;
}

.cards {
  display: flex;
  gap: 3rem;
}

.mat-toolbar {
  background-color: #e8aa42;
}

.card-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.add-btn {
  margin-left: 2rem;
}
