<div class="create-board-container">
  <div class="up">
    <button mat-icon-button class="back" routerLink="/boards/{{ userId }}">
      <mat-icon>keyboard_arrow_left</mat-icon>
    </button>
    <h1 class="create-title">Create a new Board</h1>
  </div>
  <form class="board-form" [formGroup]="boardForm">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Name</mat-label>
      <input type="text" matInput formControlName="name" />
      <mat-error *ngIf="boardForm.get('name').hasError('required')">
        Name is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Description</mat-label>
      <input type="text" matInput formControlName="description" />
      <mat-error *ngIf="boardForm.get('description').hasError('required')">
        Description is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <button
      mat-raised-button
      class="add-btn"
      (click)="addBoard()"
      [disabled]="!boardForm.valid"
    >
      ADD
    </button>
  </form>
</div>
