.mat-raised-button {
  background-color: #00adb5;
  color: #eeeeee;
}

.up {
  display: flex;
  align-items: center;
}

.mat-icon-button {
  background-color: #393e46;
  position: relative;
  top: -0.5rem;
  left: -0.5rem;
}

.create-title {
  font-weight: 700;
  color: #eeeeee;
}

.welcome-title {
  color: #00adb5;
  font-weight: 700;
}

.create-board-container {
  display: flex;
  flex-direction: column;
  margin-top: 10rem;
  gap: 2rem;
  background-color: #222831;
  background-image: none;
  padding: 3rem;
  border-radius: 2rem;
  transition: 0.1s ease;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.mat-toolbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100% !important;
  display: flex;
  justify-content: space-around;
  background-color: #00adb5;
}
