h1 {
  font-size: 4rem;
  font-weight: 500;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.mat-signIn {
  background-color: #00adb5;
}
