<div class="login-container">
  <h1 routerLink="/" class="logo">TASKIN</h1>
  <form class="auth-form" (ngSubmit)="login()" [formGroup]="loginForm">
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Username</mat-label>
      <input type="text" matInput formControlName="username" />
      <mat-error *ngIf="loginForm.get('username').hasError('required')">
        Username is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>Password</mat-label>
      <input type="password" matInput formControlName="password" />
      <mat-error *ngIf="loginForm.get('password').hasError('required')">
        Password is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <button mat-raised-button color="signIn" routerLink="/login" type="submit">
      LOG IN
    </button>
  </form>
  <button mat-button>
    <h3 routerLink="/signup">Don't have and account? Sign Up</h3>
  </button>
</div>
